<!DOCTYPE html>
<html>
  <head>
    <title>FarmNearYou</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse"></nav>
    <div class="well" style="height: 100%">
      <%= yield %>
    </div>
    <nav class="navbar navbar-inverse" style="bottom: 0px"></nav>
  </body>
</html>
